node_modules
.env
coverage
coverage.json
typechain
typechain-types
esm
umd
# Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

